# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# 🔒 安全相关 (新增! 必须加这里!)
.env
.env.local
.env.*.local

# Dependencies
node_modules

# Build Output
dist
dist-ssr

# Local env files (你原本有的，可以保留)
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
